<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>
    <div class="contain">
        <a href="https://github.com/eddieash123/TechSellFull" target="_blank"><h1>TechSell</h1></a>
    </div>
    <div class="content"> <!-- in full 13-inch mac screen, each picture is from (5,115) to (1430,840) 
                               which would make each pic 1425x725-->
        <div class="row">
            <div class="col">
                <img src="/assets/TSlogin.png" alt="home screen" class="image">
            </div>  
            <div class="col">
                <h3>Login Page</h3> <br>
                <p class="text">The login page shows the two emails for the different users set up in the database. Each user has their own cart information. You can also continue as a guest by clicking the link on the bottom.</p>
            </div>
        </div>
        <div class="row row2">
            <div class="col">
                <h3>Home Page</h3> <br>
                <p class="text">The home page shows the six different categories of products in the database. Clicking on any one of them will take you to the product page, and filter out for only those items.</p>    
            </div>
            <div class="col">
                <img src="/assets/TShome.png" alt="home screen" class="image">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="/assets/TSproducts.png" alt="products screen" class="image">
            </div>
            <div class="col">
                <h3>Products Page</h3> <br>
                <p class="text">The products page shows all the products in the databse, based on what is clicked from teh homepage, or what is typed into the search bar. <br><br>You can also filter these items by color and price, and add specified quantiteis to the users cart.</p>    
            </div>
        </div>
        <div class="row row2">
            <div class="col">
                <h3>Cart Page</h3> <br>
                <p class="text">The users cart page offers them the ability to checkout, or to remove items from the cart. </p>    
            </div>
            <div class="col">
                <img src="/assets/TScart.png" alt="cart screen" class="image">
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>