body{
    height: 100%;
    font-family:'Nunito', 'Comfortaa', sans-serif;
}

.contain{
    height: 40vh;
    background-color: var(--black);
    position: relative;
}

.contain h1{
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 5rem;
    color: var(--white);
}

.form{
    background-color: var(--white);
}