<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>

<app-animated-background></app-animated-background>
<section id="home"></section>
<body>
    <app-header></app-header>
    <div class="contain d-block">
            <!-- <div>
                <p class="title">Full Stack Developer</p>
                <p class="about-text">My name is Eddie Ashkenazi, I am a passionate web developer based in Brooklyn, New York. I create modern, responsive websites for people and companies. </p>
                <div class="stack">
                  <p>Tech Stack</p>
                  <img src="/assets/html.svg" alt="Html" class="stack-img-background">
                  <img src="/assets/css.webp" alt="CSS">
                  <img src="/assets/js.png" alt="JavaScript">
                  <img src="/assets/ts.png" alt="TypeScript">
                  <img src="/assets/bootstrap.png" alt="Bootstrap" style="width: 60px;">
                  <img src="/assets/java.png" alt="Java" style="border-radius: 5px;">
                  <img src="/assets/sql.png" alt="SQL">
                  <img src="/assets/php.jpg" alt="PHP" style="border-radius: 50px;">
                  <img src="/assets/angular.png" alt="Angular">
                  <img src="/assets/springboot.png" alt="SpringBoot" style="border-radius: 5px;">
                  <img src="/assets/postgresql.png" alt="PostgreSQL"> 
                </div>
            </div>
            <div>
                <img src="/assets/profpic.jpeg" alt="" id="profPic">
            </div> -->
            <div class="proPic-container">
              <div>
                  <p class="title">Full Stack Developer</p>
                  <p class="about-text">My name is Eddie Ashkenazi, I am a passionate web developer based in Brooklyn, New York. I create modern, responsive websites for people and companies. </p>
              </div>
              <div>
                  <img src="/assets/profpic.jpeg" alt="" id="profPic">
              </div>
            </div>
            <div class="stack">
              <p>Tech Stack</p>
              <img src="/assets/html.svg" alt="Html" class="stack-img-background">
              <img src="/assets/css.webp" alt="CSS">
              <img src="/assets/js.png" alt="JavaScript">
              <img src="/assets/ts.png" alt="TypeScript">
              <img src="/assets/bootstrap.png" alt="Bootstrap" style="width: 60px;">
              <img src="/assets/java.png" alt="Java" style="border-radius: 5px;">
              <img src="/assets/sql.png" alt="SQL">
              <img src="/assets/php.jpg" alt="PHP" style="border-radius: 50px;">
              <img src="/assets/angular.png" alt="Angular">
              <img src="/assets/springboot.png" alt="SpringBoot" style="border-radius: 5px;">
              <img src="/assets/postgresql.png" alt="PostgreSQL"> 
            </div>
    </div>
    <section id="about"></section>
    <div class="about">
      <section id="services"></section>
            <div class="text">
                <h2>About</h2>
                <p>Hi, my name is Eddie Ashkenazi and I am a Full Stack Web Developer. I am currently a senior at New York Institute of Technology, pursuing a Masters in Computer Science. I am also a part time web developer at The Depository Trust & Clearing Corporation (DTCC). I have been there for over a year and have grown and learned a lot in my time there. I am very passionate about web development and enjoy my never ending learning on the subject. Along with my position at DTCC, I am a freelance web developer making sites for companies and personal needs.</p>
                <br>
                <h2>Services</h2>
                <div class="services-contain">
                    <div class="service">
                        <h4>Fully Custom</h4>
                        <p>A fully custom website will be made from the ground up using a variety of frameworks and languages in order to create a more customizable and personal website.</p>
                    </div>
                    <div class="service">
                        <h4>Semi Custom</h4>
                        <p>The semi custom website will be made using a platform, like Wix or Squarespace, in tandem with writing custom code to make a beautiful and functional website quicker.</p>
                    </div>
                    <div class="service">
                        <h4>E-commerce</h4>
                        <p>The Ecommerce option is for any website that will be used for selling products. This website will be made semi custom and is a great way to boost sales.</p>
                    </div>
                </div>
            </div>
    </div>
    <section id="projects"></section>
    <div class="project-container">
      <div class="project-title">
        <h1>Projects</h1>
      </div>
      <div class="project-container-2">
        <div class="project-col" style="border: 3px solid var(--dark-gray)">
          <a href="https://github.com/symphatixe/NYIT-Pair" target="_blank">
            <img src="/assets/nyitpair.png" alt="">
            <div class="overlay">
              <p class="overlay-text">NYIT Pair</p>
              <p class="overlay-description">Unofficial web app for NYIT students to find and meet people with similar classes and schedules for studying and socializing.</p>
            </div>
          </a>
        </div>
        <div class="project-mobile">
          <h3>NYIT Pair</h3>
          <p>Unofficial web app for NYIT students to find and meet people with similar classes and schedules for studying and socializing.</p>
        </div>
        <div class="project-col">
          <a href="https://github.com/eddieash123/TechSell" target="_blank">
            <img src="/assets/TechSell.png" alt="">
            <div class="overlay">
              <p class="overlay-text">TechSell</p>
              <p class="overlay-description">Mock website for e-commerce company to sell technology products. Supports multi user login and cart info, as well as searching, filtering, and more.</p>
            </div>
          </a>
        </div>
        <div class="project-mobile">
          <h3>TechSell</h3>
          <p>Mock website for e-commerce company to sell technology products. Supports multi user login and cart info, as well as searching, filtering, and more.</p>
        </div>
      </div>
    </div>    
   <app-footer></app-footer>
</body> 
</html>
